
h1 Create user

form(action="/user/create", method="POST")
	label Name
	input(name="name", type="text")
	br
	label Age
	input(name="age", type="number")
	br
	label Address
	input(name="address", type="text")
	br
	label Phone Number
	input(name="phonenumber", type="text")

	button Create